// .sponsors
.sponsors {
  position: relative;
  float: left;
}

.footer {
  width: 100%;
  float: left;
  background-color: $gray;
  padding-top: rem-calc(20);
  padding-bottom: rem-calc(40);
  color: $white;

  a {
    color: $white;

    &:hover {
      text-decoration: underline;
      color: $white;
    }
  }

  &__terms {
    margin-top: $global-margin;
  }

  &__section1 {
    float: left;
    @include xy-cell(6);
  }
  &__section2 {
    @include xy-cell(6);
    float: right;
    text-align: right;
  }

  &__section1,
  &__section2 {
    @include breakpoint(small only) {
      @include xy-cell(12);
      text-align: left;
      margin-top: $global-margin;
    }
  }
}
