.grid-container {
  clear: both;
}

// Homepage footer snippets
.news-snippet {
  background-color: $black;
  padding-top: rem-calc(20);
  padding-bottom: rem-calc(20);
  color: $white;
  margin-top: rem-calc(56) !important;

  &__wrapper {
    @include xy-cell(12);
  }

  a {
    color: $white;

    &:hover {
      color: $gray;
      text-decoration: underline;
    }
  }
}

.news-snippet__header,
.border-bottom {
  position: relative;
  display: block;
  padding-bottom: rem-calc(8);
  &:after {
    content: "";
    position: absolute;
    bottom: rem-calc(-2);
    display: block;
    width: 100px;
    left: 0;
    border-bottom: 3px solid $gold;
    display: inline-block;
  }
}

// Sponsors and Partners logos'
.sponsors {
  @include xy-grid;
  padding: rem-calc(32) 0;

  &__item {
    @include xy-cell();
    text-align: center;
    margin: auto auto;
    padding: rem-calc(8);

    @include breakpoint(medium) {
      @include xy-cell(1 of 3);
      margin: auto auto;
    }

    @include breakpoint(large) {
      @include xy-cell(1 of 5);
      margin: auto auto;
    }

    img {
      float: none;
      margin: rem-calc(16) auto;
      max-height: rem-calc(60);
      max-width: 60%;

      @include breakpoint(medium) {
        max-width: 100%;
      }
    }
  }
}

// Misc
.full-center-button {
  text-align: center;
  width: 100%;
  margin-top: rem-calc(40);
  margin-bottom: rem-calc(40);
  float: left;
}

// Blank space with padding
.spacer {
  margin-bottom: rem-calc(50);
  @include clearfix;

  @include breakpoint(medium up) {
    margin-bottom: rem-calc(80);
  }
}

// Image block
.image-block {
  img {
    margin-bottom: rem-calc(20);
    height: auto;
    max-width: 100%;
  }
}

// Box Margins
.margin-20,
.margin-bottom-20 {
  margin-bottom: rem-calc(20);
}

.margin-40,
.margin-bottom-20 {
  margin-bottom: rem-calc(40);
}

// Swap left and right cells
.swap-cells-mobile {
  @include breakpoint(small only) {
    .cell:first-child {
      @include flex-order(2);
    }
    .cell:last-child {
      @include flex-order(1);
    }
  }
}

// Property Carousel
.carousel {
  padding-bottom: rem-calc(20);

  &_main {
    margin-bottom: rem-calc(20);
    width: 100%;

    img {
      width: 100%;
    }
  }

  &_thumbnails {
    display: flex;
    justify-content: space-between;

    > div {
      flex-basis: 23%;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}

// Details Table
.details-table {
  border: none;
  border-spacing: rem-calc(1);
  width: 100%;

  td {
    padding: rem-calc(4) rem-calc(8);
  }
  thead {
    background-color: $gold;
    color: $white;
    font-weight: bold;
    font-family: $serif-font-family;
  }
  tbody {
    td {
      background-color: #e5e5e5;
      font-weight: bold;

      &:nth-child(2n) {
        background-color: #b2aaa6;
        font-weight: normal;
      }
    }
  }
}

// Tenancy Fee table
.detail-tenancy {
  display: block;
  // @include flex-direction(row);
  // justify-content: space-between;
  // align-items: bottom;

  &__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem-calc(20);
  }

  &__desc {
    flex-basis: 50%;
  }

  &__price {
    font-weight: bold;
    flex-basis: 30%;
    align-self: flex-end;
  }

  @include breakpoint(small only) {
    &__item {
      display: block;
    }

    &__desc {
      width: 80%;
    }

    &__price {
      width: 100%;
      clear: both;
      text-align: right;
      margin-bottom: rem-calc(20);
    }
  }
}
