@import "settings";
@import "foundation";
@import "fonts";

// Sections
@import "./sections/header";
@import "./sections/footer";
@import "./sections/main";

// Components
@import "./components/_social-icons";
@import "./components/_twitter-follow";
@import "./components/_property-block";
@import "./components/_slider";
@import "./components/_hero";
@import "./components/_property-search";
@import "./components/pagination";
@import "./components/tab";
@import "./components/_guide-row";
@import "./components/enquiry-form";

@import "./modules//typography";

@include foundation-global-styles;
@include foundation-typography;
@include foundation-forms;
@include foundation-xy-grid-classes;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-button;

html,
body {
  width: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  float: left;
}
