include blank-footer
  .full-center-button
    a(href="/sales/buy-properties.html", title="Properties for sale").button 
      strong VIEW ALL PROPERTIES FOR SALE
    | <span class="show-for-medium">&nbsp; &nbsp; &nbsp;</span>
    a(href="/lettings/let-properties.html", title="Properties for rent").button
      strong VIEW ALL PROPERTIES FOR RENT
    include blank-footer