footer.footer
  .grid-container
    .grid-x
      .medium-6.cell.info
        h6
          strong WALSH SOLICITORS
        | Head Office <br>
        | 22 Manchester Road, Haslingden, Rossendale, <br>
        | Lancashire, BB4 5ST <br>
        | Tel: 01706 230 300

        .copyright.hide-for-small-only
          | Copyright &copy; 2017 WALSH SOLICITORS <br>
          | Site designed by 
          |
          a(href="#", title="Made by Bespoke") Made By Bespoke
        
      .medium-6.cell.links
        h6.primary-color 
          strong SERVICES
        ul.list-line.site-links
          li 
            a(href="/civil", title="Civil") Civil
          li 
            a(href="/crime", title="Crime") Crime
          li 
            a(href="/commercial", title="Commercial") Commercial
          li 
            a(href="/education", title="Education") Education
          li 
            a(href="/family", title="Family") Family
          li 
            a(href="Private", title="Private") Private

        ul.list-line.secondary
          li 
            a(href="/about", title="About") About
          li 
            a(href="/contact", title="Contact") Contact
          li 
            a(href="/disclaimer", title="Disclaimer") Disclaimer

        .social-icons
          include ../fragments/social-icons
      .cell.copyright.hide-for-medium
          | Copyright &copy; 2017 WALSH SOLICITORS <br>
          | Site designed by 
          |
          a(href="#", title="Made by Bespoke") Made By Bespoke