.footer
  .grid-container
    .footer__section1
      p Copyright &copy; 2017 Empire Estates <br />
      | 39 Railway Street <br/ >
      | Nelson, <br />
      | Lancashire, BB9 9SG <br />
      | Tel: 01282 449922 <br />
      | Email: info@empireestates.org.uk
    .footer__section2
      p <strong> Click <a href="/here" title="Properties PDF">HERE</a> to download PDF Properties to RENT <br> Click <a href="/here" title="Properties PDF">HERE</a> to download PDF Properties to BUY</strong>
      .footer__terms
        a(href="/terms-and-conditions.html" title="Terms and Conditions") Terms &amp; Conditions | <a href="/privacy-policy.html" title="Privacy Policy"> Privacy Policy </a>
      