header.grid-container.full
  .header.hide-for-large
    .grid-container
      .grid-x
        .small-6.cell
          include ../fragments/social-icons.pug
        
        .small-6.cell.tel
          small 
            span.float-right Tel: 01706 230 300
  
  nav.grid-container
    .grid-x.nav
      .small-8.medium-6.cell
        a(href="/", title="Walsh Solicitors") 
          img(src="/assets/img/walsh-solicitors-logo.svg", alt="Walsh solicitors").logo
      .small-4.medium-6.cell
        div.icon-menu
        
        ul.nav-links
          li 
            a(href="/about.html", title="About") About
          li.dropdown
            a(href="/services-single.html", title="Services") Services

            ul
              li
                a(href="/services-single-civil.html", title="Civil") Civil
              li 
                a(href="/services-single-commercial.html", title="Commercial") Commercial  
              li 
                a(href="/services-single-education.html", title="Education") Education
                
              li 
                a(href="/services-single-crime.html", title="crime") Crime 
              li 
                a(href="/services-single-family.html", title="Family") Family
              li 
                a(href="/services-single-private.html", title="Private") Private
          li
            a(href="/contact.html", title="Contact Walsh Solicitors") Contact
          li.social-icons
            include ../fragments/social-icons-links
            
            
            