block variables
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="format-detection" content="telephone=no")
    title #{title || "Empire Estates"}
    link(href="/assets/css/flexslider.css", rel="stylesheet")
    link(href="/assets/css/style.css", rel="stylesheet")
    
    
    
    block head
    
    
  body
    include ./header.pug
    block before-main
    main.grid-container
      block main
    //- block after-main
    block before-footer
      include ./before-footer.pug
    include ./footer.pug
    //- block after-footer
    block scripts
      script(src="/assets/js/jquery.js")      
      script(src="/assets/js/jquery.flexslider-min.js")
      
      script(src="/assets/js/app.js")
      