extends ./includes/layout.pug
block variables
  - var title = "Maintenance - Empire Estates"

block before-main
  .hero.hero-with-text
      img(src="/assets/img/hero/correspondence-hero.jpg", alt="Online Sale Service")
      .hero__text Contact Us
  
  include ./includes/property-search
  

block main
  .grid-x.grid-margin-x
    .cell.medium-4
      h4.border-bottom Contact Us
      p &nbsp;
      p 
        strong Empire Estates Ltd <br>
        | 39 Railway Street <br>
        | Nelson <br>
        | Lancashire <br>
        | BB9 9SG
      
      p Tel: 01282 449922 <br>
        | Email: info@empireestates.org.uk <br>
        | Fax: 01282 447944 <br>

      p 
        strong Opening Times: <br>
        | Monday-Friday 9:00am till 6:00pm
        | Saturday- 10:00am till 4:00pm
        | Sunday- Closed
    .cell.medium-8
      .enquiry-form
        .enquiry-form__header Enquiry Form

        form(action="/enquiry" method="post")  
          .enquiry-form__group
            input(type="text" name="name" placeholder="Name*")
            input(type="text", name="phone-number" placeholder="Phone Number*")
            input(type="text" name="email" placeholder="Email*")
            input(type="text" name="address" placeholder="Address (Optional)")
            textarea(name="message", cols="30", rows="6" placeholder="Message*")
            input(type="submit", value="SEND").button


block before-footer
  include ./includes/before-footer-view-all
