extends includes/empty-layout
block main
  .grid-x.grid-margin-x
    .medium-6.large-5.cell.single-profile__image
      img(src="/assets/img/image1.jpg", alt="Terrence Walsh")
    .medium-6.large-5.cell
      h2.primary-color Terrence Walsh
      p 
        small
          strong terrence.walsh@walshsolicitors.com
      p &nbsp;
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis facilis corporis a, rem dolores odit autem sapiente eligendi libero quisquam voluptatem eos asperiores quos quas magnam atque quo cum recusandae.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos consequatur libero quisquam culpa deserunt impedit aspernatur, ut tempora harum, quam exercitationem repellat nihil laboriosam nobis, vitae nesciunt illum ipsum veritatis.
