.enquiry-form.enquiry-form-gray
      h3.primary-color Get in Touch
      p To discuss any of our services, please get in touch with one of our partners.

      form(action="/form" method="post").grid-x.grid-margin-x
        .medium-6.cell
          input(type="text", name="full-name" placeholder="Full NAME*")
          input(type="email", name="email" placeholder="EMAIL ADDRESS*")
          input(type="tel", name="telephone" placeholder="TELEPHONE*")
        .medium-6.cell
          textarea(name="enquiry", placeholder="ENQUIRY*" cols="30", rows="5")
          input(type="submit", value="SEND ENQUIRY").button.float-right