h3.primary-color Follow us on Twitter &nbsp;
  span.icon-twitter
div
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl sem, pretium ac convallis rutrum, ullamcorper sed justo. Praesent tempus venenatis mattis. <br>
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl sem, pretium ac convallis rutrum, ullamcorper sed justo. Praesent tempus venenatis mattis. <br>
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl sem, pretium ac convallis rutrum, ullamcorper sed justo. Praesent tempus venenatis mattis. <br>